﻿@page "/"
@using LoggingExample.Utilities
@rendermode InteractiveServer
@inject IJSRuntime JS
@inject NavigationManager NavManager

<PageTitle>Home</PageTitle>


<h1>Some buttons</h1>

<button @onclick="CallApi1">button 1</button>
<button @onclick="CallApi2">button 2</button>
<button @onclick="CallApi3">button 3</button>
<button @onclick="CallApi4">button 4</button>

@code {
    private JsConsole _jsConsole;
    private HttpClient _httpClient = new();
    
    protected override async Task OnInitializedAsync()
    {
        _jsConsole = new JsConsole(JS);
    }

    private async void CallApi1()
    {
        await _jsConsole.LogAsync("button 1 on the client");
        var fetched = await _httpClient.GetStringAsync(NavManager.Uri + "api1");
        await _jsConsole.LogAsync(fetched);
    }
    
    private async void CallApi2()
    {
        await _jsConsole.LogAsync("button 2 on the client");
        var fetched = await _httpClient.GetStringAsync(NavManager.Uri + "api2");
        await _jsConsole.LogAsync(fetched);
    }
    
    private async void CallApi3()
    {
        await _jsConsole.LogAsync("button 3 on the client");
        var fetched = await _httpClient.GetStringAsync(NavManager.Uri + "api3");
        await _jsConsole.LogAsync(fetched);
    }
    
    private async void CallApi4()
    {
        await _jsConsole.LogAsync("button 4 on the client");
        var fetched = await _httpClient.GetStringAsync(NavManager.Uri + "api4");
        await _jsConsole.LogAsync(fetched);
    }
}
